
.flex-parent{
    border: 2px solid;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-child{
    margin: 5px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-child.red{
    flex-direction: column;
}

img{
    width: 200px;
    height: 200px;
}

button{
    height: 40px;
    display: block;
    padding: 10px 20px;
    border: none;
    background: #1301ff;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
}